.ArticleDetails {
  min-height: 100%;
}

.avatar {
  margin: 0 auto;
}

.title {
  margin: 20px 0 0;
}

.skeleton {
  margin: 15px 0 0;
}

.icon {
  margin-right: 8px;
}

.block {
  margin: 16px 0 0;
}
