.InputWrapper {
  display: flex;
}

.input {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  color: var(--primary-color);
  &:focus-visible {
    outline: none;
  }
}

.placeholder {
  margin-right: 5px;
}

.readonly {
  opacity: 0.7;
}
