.App.light {
  --bg-color: #f8fafc;
  --inverted-bg-color: #040c0e;
  --primary-color: #53c0f0;
  --secondary-color: #b9e5f3;
  --inverted-primary-color: #c9a37e;
  --inverted-secondary-color: #a69c91;
}
