.app_pink_theme {
  --bg-color: #ff218f;
  --inverted-bg-color: #4141c7;
  --primary-color: #fdf7fa;
  --secondary-color: #cc00f5;
  --inverted-primary-color: invert(#fdf7fa);
  --inverted-secondary-color: invert(#cc00f5);
}
